.degradado {
    background: -webkit-linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 200% 200%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.mt-6 {
    margin-top: 5rem !important;
}

body {
    height: 90vh;
    background-color: rgb(16, 16, 16);
    box-sizing: border-box;
}

.nav-link:hover {
    background-color: white;
    border-radius: 5px;
    color: #212529 !important;
}

.clasificacion {
    margin-left: 12%;
    margin-top: 50px;
    margin-bottom: 15px;
}

footer {
    height: 50px;
}


/* Clases que se añaden mediante JQuery para principal.html */

.margenes {
    padding-left: 10%;
    padding-right: 10%;
}

.row {
    margin-right: 0%;
    margin-left: 0%;
}

.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -70px;
}

.flecha {
    width: 10%;
}