{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Codificación -->
    <meta charset="utf-8">
    <!-- Compatibilidad IE-edge -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Título -->
    <title>DAWNIX</title>
    <!-- Complementos necesarios -->
    <link rel="icon" type="image/png" href="{% static 'IMG/logorosa.png' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
</head>

<body class="d-flex flex-column justify-content-center align-items-center text-white">
    <!-- Título y logo de la página -->
    <header>
        <img src="{% static 'IMG/logoblanco.png' %}" height="400" width="400">
    </header>


    <!-- Mensaje de error para el login -->
    <div class="w-50 text-center m-2">
        {% for error in form.non_field_errors %}
            <label>{{error}}</label>
        {% endfor %}
    </div>


    <!-- Formulario para poder acceder a la página -->
    <form class="form-login"  method="post">
        {% csrf_token %}
        <input class="form-control mb-2 mt-2" name="username" id="id_username" type="text" placeholder="Usuario" required/>
        <input class="form-control" name="password" id="id_password" type="password" placeholder="Contraseña" required/>
        <input class="btn btn-block btn-outline-dark mb-2 mt-3" type="submit" value="Entrar">
    </form>


    <!-- Introducimos el footer en nuestra página -->
    <footer class="d-flex justify-content-center align-items-center position-absolute  w-100">
        <p><small>&copy; Copyright 2019 dawnix.com</small></p>
    </footer>
</body>

</html>