{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Codificación -->
    <meta charset="utf-8">
    <!-- Compatibilidad IE-edge -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Título -->
    <title>DAWNIX</title>
    <!-- Complementos necesarios -->
    <link rel="icon" type="image/png" href="{% static 'IMG/logorosa.png' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="{% static 'CSS/principal.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/administrador.css' %}">
</head>

<body class="text-white">

    {% block content %}
    {% if user.is_authenticated %}

        <div id="header" class="fixed-top">
            <!-- Barra de menú -->
            <nav class="navbar navbar-expand-md navbar-dark degradado pr-2">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto align-items-center">
                        <li class="mr-2">
                            <img class="mr-2" src="{% static 'IMG/logoblanco.png' %}" height="50" width="50">
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white" href="{% url 'principal' %}">Inicio</a>
                        </li>
                        {% if user.is_staff %}
                            <li class="nav-item mr-2">
                                <a class="nav-link text-white" href="{% url 'usuarios' %}">Administrar usuarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{% url 'peliculas' %}">Administrar películas</a>
                            </li>
                        {%  endif  %}
                    </ul>
                    <!-- Barra de búsqueda -->
                    <div class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" id="contenido" name="contenido" placeholder="Título..." disabled>
                        <button class="btn btn-outline-light my-2 my-sm-0" id="busqueda" type="submit" disabled>Buscar</button>
                    </div>
                </div>

                <!-- Perfil de usuario -->
                <ul class="navbar-nav flex-row ml-4 mr-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle  mr-lg-0 d-flex align-items-center" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><p class="m-1 text-capitalize">{{ user.username }}</p><i class="fa fa-user m-1"></i><span class="caret"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropleft" aria-labelledby="navbarDropdownMenuLink">

                            <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                        </div>

                    </li>
                </ul>
                <button class="navbar-toggler ml-lg-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>

        <div id="busquedas" class="mt-6">

            <!-- Modal para añadir usuarios -->
            <div class="modal fade" id="modal-añadir-usuario" tabindex="-1" role="dialog" aria-labelledby="modalAñadirLabel" aria-hidden="true">
                <div class="modal-dialog" role="form">
                    <div class="modal-content">
                        <div class="modal-header degradado">
                            <h5 class="text-white" id="modalModificarLabel">Añadir usuario</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body text-black">
                            {% block contento %}
                                    {% if form %}
                                        <form class="form-añadir"  method="post">
                                            {% csrf_token %}
                                            <input class="form-control mb-2 mt-2" name="username" id="id_username" type="text" placeholder="Usuario" required/>
                                            <input class="form-control mb-2 mt-2" name="email" id="id_email" type="email" placeholder="Correo" required/>
                                            <input class="form-control mb-2 mt-2" name="first_name" id="id_first_name" type="text" placeholder="Nombre" required/>
                                            <input class="form-control mb-2 mt-2" name="last_name" id="id_last_name" type="text" placeholder="Apellidos" required/>
                                            <input class="form-control mb-2 mt-2" name="password1" id="id_password1" type="password" placeholder="Contraseña" required/>
                                            <input class="form-control mb-2 mt-2" name="password2" id="id_password2" type="password" placeholder="Repita la Contraseña" required/>
                                            <input class="btn btn-block btn-outline-dark mb-2 mt-3" type="submit" value="Registrar usuario">

                                        </form>
                                    {% else %}
                                        <span class="text-dark">No activo</span>
                                    {% endif %}
                            {% endblock contento %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal para modificar los usuarios -->
            <div class="modal fade" id="modal-modificar-usuario" tabindex="-1" role="dialog" aria-labelledby="modalModificarLabel" aria-hidden="true">
                <div class="modal-dialog" role="form">
                    <div class="modal-content">
                        <div class="modal-header degradado">
                            <h5 class="text-white" id="modalModificarLabel">Modificar usuario</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                            {% block modify %}
                                    {% if form_m %}
                                        <form id="modaleditar" class="form-modificar" method="POST" action="">
                                            {% csrf_token %}
                                            <div id="editar"></div>
                                        </form>
                                    {% else %}
                                        <span class="text-dark">No activo</span>
                                    {% endif %}
                            {% endblock modify %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal para eliminar los usuarios -->
            <div class="modal fade" id="modal-eliminar-usuario" tabindex="-1" role="dialog" aria-labelledby="modalEliminarLabel" aria-hidden="true">
                <div class="modal-dialog" role="form">
                    <div class="modal-content">
                        <div class="modal-header degradado">
                            <h5 class="text-white" id="modalModificarLabel">Eliminar usuario</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h6 class="linea-eliminar">¿Desea eliminar al usuario?</h6>
                            <form id="botonEliminar" method='POST' action=''>
                                {% csrf_token %}
                                <div id="botones"> </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Párrafo aclarativo -->
            <h6 class="linea-aclarativa d-flex justify-content-between align-items-center text-white">Seleccione el usuario que desea modificar:
                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modal-añadir-usuario">
                    <span class="nuevo-usuario">Nuevo Usuario</span>
                </button>
            </h6>

            <!-- Barra de búsqueda -->
            <div class="input-group busqueda-admin">
                <input id="filtrar" type="text" class="form-control" placeholder="Introduce el nombre del usuario">
            </div>

            <!-- Lista de usuarios -->
            <div>
            <table class="table table-hover ">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Usuario</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Apellidos</th>
                      <th scope="col">Correo</th>
                      <th scope="col">Opciones</th>
                    </tr>
                  </thead>
                <tbody class="buscar" >
                    {% for user in usuario %}
                         <tr>
                            <th class="atributo-id">{{ user.id }}</th>
                            <td class="atributo-usuario" >{{ user.username }}</td>
                            <td class="atributo-nombre" >{{ user.first_name }}</td>
                            <td class="atributo-apellidos" >{{ user.last_name }}</td>
                            <td class="atributo-email">{{ user.email }}</td>
                            <td class="atributo-botones">
                                <button type="button" onclick="myFunction({{ user.id }})" class="btn btn-outline-dark" data-toggle="modal" data-target="#modal-modificar-usuario"><span class="lapiz"><i class="far fa-edit"></i></span></button>
                                <button type="button" onclick="paseUsuario({{ user.id }})" id="delete" class="btn btn-outline-danger" data-toggle="modal" data-target="#modal-eliminar-usuario"><span class="cruz"><i class="far fa-times-circle"></i></span></button>
                            </td>
                         </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>

        </div>


        <!-- Introducimos el footer en nuestra página -->
        <footer class="d-flex justify-content-center align-items-end text-white">
            <p class="mb-2"><small>&copy; Copyright 2019 dawnix.com</small></p>
        </footer>

        <!-- Script necesarios -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="{% static 'JS/adminUsuarios.js' %}"></script>

    {% else %}
        <div class="h-100 d-flex flex-column justify-content-center align-items-center">
            <p>Debe iniciar sesión antes de poder acceder a la página</p>
            <a class="btn btn-outline-light my-2 my-sm-0" href="{% url 'login' %}">Iniciar sesión</a>
        </div>
    {% endif %}
    {% endblock %}
</body>

</html>