{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Codificación -->
    <meta charset="utf-8">
    <!-- Compatibilidad IE-edge -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Título -->
    <title>DAWNIX</title>
    <!-- Complementos necesarios -->
    <link rel="icon" type="image/png" href="{% static 'IMG/logorosa.png' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/principal.css' %}">
</head>

<body class="text-white">

    {% block content %}
    {% if user.is_authenticated %}

    <div id="header" class="fixed-top">
        <!-- Barra de menú -->
        <nav class="navbar navbar-expand-md navbar-dark degradado pr-2">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto align-items-center">
                    <li class="mr-2">
                        <img class="mr-2" src="{% static 'IMG/logoblanco.png' %}" height="50" width="50">
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link text-white" href="{% url 'principal' %}">Inicio</a>
                    </li>
                    <li class="nav-item dropdown mr-2">
                        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" role="button" aria-expanded="false">Peliculas</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="Accion" >Accion</a>
                            <a class="dropdown-item" id="Animation" >Animacion</a>
                            <a class="dropdown-item" id="Aventura" >Aventura</a>
                            <a class="dropdown-item" id="Ficcion" >Ciencia ficcion</a>
                            <a class="dropdown-item" id="Comedia" >Comedia</a>
                            <a class="dropdown-item" id="Drama" >Drama</a>
                            <a class="dropdown-item" id="Familiar" >Familiar</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" id="favoritas">Mis favoritas</a>
                    </li>
                </ul>
                <!-- Barra de búsqueda -->
                <div class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" id="contenido" name="contenido" placeholder="Título...">
                    <button class="btn btn-outline-light my-2 my-sm-0" id="busqueda" type="submit">Buscar</button>
                </div>
            </div>

            <!-- Perfil de usuario -->
            <ul class="navbar-nav flex-row ml-4 mr-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle  mr-lg-0 d-flex align-items-center" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><p id="guardadoid" class="m-1 text-capitalize">{{ user.username }}</p><i class="fa fa-user m-1"></i><span class="caret"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropleft" aria-labelledby="navbarDropdownMenuLink">
                        {% if user.is_staff %}
                            <a class=" dropdown-item dropdown-toggle text-dark" data-toggle="dropdown" role="button" aria-expanded="false">Administrar</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'usuarios' %}">Usuarios</a>
                                    <a class="dropdown-item" href="{% url 'peliculas' %}">Películas</a>
                                </div>

                        {%  endif  %}
                        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                    </div>

                </li>
            </ul>
            <button class="navbar-toggler ml-lg-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>


    <div id="busquedas" class="mt-6">
        <!-- Carrusel para las diferentes categorías -->
        <section class="carousel-accion">
            <div class="clasificacion">
                <h1>Accion</h1>
            </div>
            <div id="peliculas-accion">

            </div>
        </section>
        <section class="carousel-comedia">
            <div class="clasificacion">
                <h1>Comedia</h1>
            </div>
            <div id="peliculas-comedia">

            </div>
        </section>
        <section class="carousel-accion">
            <div class="clasificacion">
                <h1>Drama</h1>
            </div>
            <div id="peliculas-drama">

            </div>
        </section>
        <section class="carousel-accion">
            <div class="clasificacion">
                <h1>Familiar</h1>
            </div>
            <div id="peliculas-familia">

            </div>
        </section>
        </div>

        <!-- Modal para mostrar el contenido de cada película -->
        <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        </div>

        <!-- Introducimos el footer en nuestra página -->
        <footer class="d-flex justify-content-center align-items-end ">
            <p class="mb-2"><small>&copy; Copyright 2019 dawnix.com</small></p>
        </footer>

        <!-- Script necesarios -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static "JS/script.js" %}"></script>


    {% else %}
        <div class="h-100 d-flex flex-column justify-content-center align-items-center">
            <p>Debe iniciar sesión antes de poder acceder a la página</p>
            <a class="btn btn-outline-light my-2 my-sm-0" href="{% url 'login' %}">Iniciar sesión</a>
        </div>
    {% endif %}
    {% endblock %}
</body>

</html>